<servlets>
	<servlet>
		<servlet-name>RestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.spring.SpringServerServlet
		</servlet-class>
		<init-param>
			<param-name>org.restlet.component</param-name>
			<param-value>RestletComponent</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</servlets>